 
/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1024px;
    margin: auto;
}

.nav {
    background-color: rgb(244, 249, 253);
}

#login{
    color:orange;
    background-color: transparent;
    border: 3px solid orange;
    border-radius: 5px;
}

li {
    display: inline-block;
}

.orange-button{
    color: white;
    background-color: orange;
    border-radius: 5px;
    padding: 5px;
}

.hero-div {
    background-image: url(img/jumbotron.png);
    object-fit: contain;
    background-position: bottom right;
    height: 350px;
}

.nav-top-right{
    float: right;
    display: inline-block;
    width: 20%;
}

.nav-top-left {
    float: left;
    display: inline-block;
    width: 20%;
}


.empty {
    background-color:rgb(175,235,228);
    border:  3px solid black;
    height: 35px;
}

.col-3 {
    width: 33%;
}

.col-2 {
    width: 50%;
}

