 
/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1024px;
    margin: auto;
}

.nav {
    background-color: rgb(244, 249, 253);
}

#login{
    color:orange;
    background-color: transparent;
    border: 3px solid orange;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
}

li {
    display: inline-block;
}

.orange-button{
    color: white;
    background-color: orange;
    border-radius: 5px;
    padding: 15px;
}

.hero-div {
    background-image: url(img/jumbotron.png);
    background-position: right;
    background-color: rgb(255,245,239);
    background-size: contain;
    background-repeat: no-repeat;
    height: 350px;

}

.nav-top-right{
    float: right;
    display: inline-block;
    width: 20%;
    top: 0px;
    right: 0px;
}

.nav-top-left {
    position: relative;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 20%;
}

.nav-bottom-left{
    position: relative;
    bottom: 0px;
    left: 0px;
}

.nav-bottom-right {
    float: right;
    bottom: 0px;
    right: 0px;
}

.empty {
    background-color:rgb(175,235,228);
    border:  3px solid black;
    height: 35px;
    position: relative;
    bottom: 0px;
}

.col-3 {
    width: 33%;
}

.col-2 {
    width: 50%;
}

/* righe della sezione 4 */
.row {
    height: 25%;
}

.centered-text {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.centered-img {
    margin-left: auto;
    margin-right: auto;
    width: 50%;    
}

/* styling card sezione 4 */
.card {
    background-color: white;
    border-radius: 5px;
    display: inline-block;
}

.small-img {
    width: 20%;
    height: auto;
}

#cube {
    display: block;
    width: 250px;
    height: 50%;
}

#gethubfree {
    display: inline-block;
    vertical-align: middle;
}