 
/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1024px;
    margin: auto;
}

.nav {
    background-color: rgb(255, 245, 239);
}

#login{
    
}

li {
    display: inline-block;
}

.button-style{

}

.hero-div {
    background-image: url(/img/jumbotron.png);
}

.nav-top-right{
    float: right;
    display: inline-block;
    width: 20%;
}

.nav-top-left {
    float: left;
    display: inline-block;
    width: 20%;
}

p{
    width: 300px;
}

.empty {
    background-color:rgb(175,235,228);
    border:  3px solid black;
}